main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  height: 100%;
  padding-top: 50px;
  background-color: var(--contrast-color);
}

@media screen and (min-width: 1200px) {
  main {
    transition: margin-left .4s ease-in-out;
  }

  .sidebar.active ~ main {
    margin-left: var(--sidebar-width);
  }
}

.ribbon {
  width: min(90vw, 800px);
  height: 40px;
  background-color: white;
}

.editor-container {
  flex-grow: 1;
  width: min(90vw, 800px);
  overflow-y: auto;
  background-color: white;
}

.text-editor {
  width: 100%;
  height: 100%;
  padding: 30px;
}
