.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(calc(var(--sidebar-width) * -1));
  background-color: transparent;
  transition: transform .4s ease-in-out;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar-main-content-container {
  display: inline-block;
  width: var(--sidebar-width);
  height: 100%;
  padding: 7px;
  background-color: white;
}

#menu-button {
  float: right;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.sidebar-actions {
  padding: 5px;
}

#new-file-button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 100%;
  background-image: var(--accent-color-gradient);
}

#new-file-button > .icon {
  width: 27px;
  height: 27px;
}

.file-list-container {
  max-height: 70%;
  overflow-y: auto;
}

#file-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  list-style-type: none;
}

.file-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 31px;
  text-align: left;
}

.file-link {
  flex-grow: 1;
  height: 100%;
  padding: 3px;
  border: none;
  font-size: 1em;
  text-align: left;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  background-color: transparent;
}

.file-actions {
  display: none;
  padding: 3px;
  line-height: 0;
}

.file-delete-button {
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
}

.general-folders {
  padding: 10px;
  padding-top: 0;
}

.general-folders::before {
  content: "";
  display: block;
  width: 75%;
  height: 1px;
  margin: 25px auto;
  background-color: lightgray;
}

.folder-link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: black;
}

.folder-icon-container {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 0;
}

.folder-label {
  flex-grow: 1;
}

@media screen and (hover: hover) {
  #menu-button:hover {
    background-color: var(--hover-color);
  }

  .file-list-item:hover {
    background-color: var(--hover-color);
  }

  .file-link:hover {
    text-decoration: underline;
  }

  .file-list-item:hover .file-actions {
    display: block;
  }

  .file-delete-button:hover {
    background-color: #ff0000b7;
  }

  .folder-link:hover {
    text-decoration: underline;
    background-color: var(--hover-color);
  }
}
