.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(calc(var(--sidebar-width) * -1));
  background-color: transparent;
  transition: transform .4s ease-in-out;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar-main-content-container {
  display: inline-block;
  width: var(--sidebar-width);
  height: 100%;
  padding: 7px;
  background-color: white;
}

.menu-button {
  float: right;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.sidebar-actions {
  padding: 5px;
}

.new-file-button {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-image: var(--accent-color-gradient);
}

@media screen and (hover: hover) {
  .new-file-button:hover {
    filter: brightness(1.1);
  }
}

.new-file-button:active {
  filter: brightness(.9);
}

.new-file-button > .icon {
  width: 27px;
  height: 27px;
}

.file-list-container {
  max-height: 70%;
  overflow-y: auto;
}

#file-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  list-style-type: none;
}

.file-list-item {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr max-content;
  align-items: center;
  width: 100%;
  border-radius: 4px;
}

@media screen and (hover: hover) {
  .file-list-item:hover {
    background-color: var(--hover-color);
  }
}

.file-link {
  padding: 6px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  font-size: 1em;
  text-align: left;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  background-color: transparent;
}

@media screen and (hover: hover) {
  .file-link:hover {
    text-decoration: underline;
  }
}

.file-link:active {
  background-color: var(--hover-color);
}

.file-actions,
.more-actions-button {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.file-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  aspect-ratio: 1 / 1;
  line-height: 0;
}

.more-actions-button {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

@media screen and (hover: hover) {
  .more-actions-button:hover {
    background-color: var(--dark-hover-color);
  }
}

.more-actions-button:active {
  background-color: var(--active-button-color);
}

.more-actions-button > .icon {
  width: 25px;
  height: 25px;
}

.general-folders {
  padding: 10px;
  padding-top: 0;
}

.general-folders::before {
  content: "";
  display: block;
  width: 75%;
  height: 1px;
  margin: 25px auto;
  background-color: var(--contrast-color);
}

.folder-link {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content 1fr;
  align-items: center;
  gap: 5px;
  padding: 3px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}

@media screen and (hover: hover) {
  .folder-link:hover {
    text-decoration: underline;
    background-color: var(--hover-color);
  }
}

.folder-link:active {
  background-color: var(--active-button-color);
}

.folder-icon-container {
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 0;
}
