.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(calc(var(--sidebar-width) * -1));
  background-color: transparent;
  transition: transform .4s ease-in-out;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar-main-content-container {
  display: inline-block;
  width: var(--sidebar-width);
  height: 100%;
  padding: 7px;
  background-color: white;
}

.sidebar-button {
  float: right;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.sidebar-button > .close-sidebar-icon {
  display: none;
}

.sidebar.active .sidebar-button > .open-sidebar-icon {
  display: none;
}

.sidebar.active .sidebar-button > .close-sidebar-icon {
  display: block;
}

.sidebar-actions {
  padding: 5px;
}

.new-file-button {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-image: var(--accent-color-gradient);
}

@media screen and (hover: hover) {
  .new-file-button:hover {
    filter: brightness(1.1);
  }
}

.new-file-button:active {
  filter: brightness(.9);
}

.new-file-button > .icon {
  width: 27px;
  height: 27px;
}

.file-list-container {
  max-height: 70%;
  overflow-y: auto;
}

.general-folders {
  padding: 10px;
  padding-top: 0;
}

.general-folders::before {
  content: "";
  display: block;
  width: 75%;
  height: 1px;
  margin: 25px auto;
  background-color: var(--contrast-color);
}

.folder-link {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content 1fr;
  align-items: center;
  gap: 5px;
  padding: 3px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}

@media screen and (hover: hover) {
  .folder-link:hover {
    text-decoration: underline;
    background-color: var(--hover-color);
  }
}

.folder-link:active {
  background-color: var(--active-button-color);
}

.folder-icon-wrapper {
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 0;
}
