:root {
  --header-height: 60px;
  --sidebar-width: min(300px, 70vw);
  
  --accent-color: #ff4500;
  --contrast-color: #d1d1d1;

  --accent-color-gradient: linear-gradient(135deg, #fd723f, var(--accent-color), #912700);

  --hover-color: #ececec;
  --dark-hover-color: #c0c0c0;
  --active-button-color: #aaaaaa;
  --disabled-button-color: #c5c5c5;
}
