button {
  border: none;
  cursor: pointer;
  user-select: none;
}

button:has(.icon) {
  position: relative;
}

@media screen and (hover: hover) {
  button:hover {
    background-color: var(--hover-color);
  }
}

button:focus-visible {
  background-color: var(--hover-color);
  outline: none;
}

button:active {
  background-color: var(--active-button-color);
}

button:disabled {
  border-color: var(--disabled-button-color) !important;
  background-color: var(--disabled-button-color) !important;
  cursor: default;
}
